<mat-card class="search-card">
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-style">
        <div class="row">
            <div class="col-md-3">Username : </div>
            <div class="col-md-7">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Username" #username>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">Password : </div>
            <div class="col-md-7">
                <mat-form-field appearance="outline">
                    <input type="password" matInput placeholder="Password" #password>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button class="button-css" mat-raised-button>Already have an account? Login</button>
        <button class="button-css" mat-raised-button
            (click)="registerUser(username.value, password.value)" style="margin-left: 10%;">Register</button>
    </mat-card-actions>
</mat-card>